# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Django related
*.log
*.pot
*.mo
media/
staticfiles/
db.sqlite3

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Jupyter Notebook
.ipynb_checkpoints

# Test coverage
.coverage
htmlcov/